@model opensource_manager.Models.ProjectViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Board</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ProjectTitle</h4>
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Todo</h3>
                        </div>
                        <div class="panel-body">
                            Add a card
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Test</h3>
                        </div>
                        <div class="panel-body">
                            Add a card
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Done</h3>
                        </div>
                        <div class="panel-body">
                            Add a card
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="well well-sm">
                        Add a list...
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="btn-addlist">Click Me!</button>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
