@model opensource_manager.Models.ProjectViewModels.Invite

@{
    ViewBag.Title = "Invite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invite</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ProjectViewModels</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="email" name="Recipient"/>
                <input type="number" name="Id"/>
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>