@using opensource_manager.DB
@model opensource_manager.Models.ProjectViewModels.sp_RetriveAllProjects_Result

@{
    List<sp_RetriveAllProjects_Result> projects = ViewBag.data;
}

@if (Request.IsAuthenticated)
{
    if (projects != null)
    {
        <a href="" class="btn btn-info" id="btn-square-micro" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" style="width: 100px;">PROJECTS </a>
        <div class="dropdown-menu" style="margin-top: 10px; width: 300px; background-color: white; color: white; text-align: left; padding-top: 10px; border: black solid 1px">
            @foreach (var result in projects)
            {
                <a href="/Project/index/@result.ProjectId" class="dropdown-item" style="color: black; font-size: larger;">@result.Title</a>
                <br/>
            }
        </div>
    }
}

