@using opensource_manager.DB
@model opensource_manager.Models.ProjectViewModels.sp_RetriveAllProjects_Result

@{
    List<sp_RetriveAllProjects_Result> projects = ViewBag.data;
}


@foreach (var result in projects)
            {
    <li>
        <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i> @result.Title <i class="fa fa-fw fa-angle-down pull-right"></i></a>
        <ul id="submenu-2" class="collapse">
            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.1</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.2</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.3</a></li>
        </ul>
    </li>
}
